[DEFAULT]
ConnectionType=initiator
ReconnectInterval=50
FileStorePath=store
FileLogPath=fixlog
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=FIX44.xml
SocketConnectHost=demofix.swissquote.ch
SocketConnectPort=10613
ResetOnLogon=Y
SocketUseSSL=Y
SocketKeyStore=<empty>
SocketKeyStorePassword=<empty>
SenderLocationID=122.160.79.198
SocectLocalHost=122.160.79.198
# standard config elements

[SESSION]
BeginString=FIX.4.4
SenderCompID=845672
TargetCompID=Swissquote
HeartBtInt=30 
Account=845672
FileStorePath=messagestore
FileLogPath=messagelog

